header {
    display: flex;
    justify-content: center;
    
}

button{
    margin: 10px;
    
}

main {
    display: flex;
    justify-content: center;
}
footer{
    text-align: center;
}
p{
    margin: 3px;
}
#name{
    display: flex;
    justify-content: center;
}
#nameValue {
    text-align: center;
}
form {
    text-align: center;
}